/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute; }

.text--burnt-sienna {
  color: #eb5b42; }

.text--jungle-green {
  color: #2bae82; }

.text--mercury {
  color: #e8e6e5; }

.text--ripe-lemon {
  color: #f5d310; }

.text--blue-stone {
  color: #006170; }

.text--cape-cod {
  color: #3f4747; }

.text--pink-lady {
  color: #fff1da; }

.text--black {
  color: #000; }

.text--white {
  color: #fff; }

.text--tundora {
  color: #404040; }

.text--mine-shaft {
  color: #303030; }

.text--silver {
  color: #b9b9b9; }

.text--cod-gray {
  color: #080808; }

.text--dove-gray {
  color: #636363; }

.bg--burnt-sienna, .sg__grid .grid:before {
  background-color: #eb5b42; }

.bg--jungle-green {
  background-color: #2bae82; }

.bg--mercury {
  background-color: #e8e6e5; }

.bg--ripe-lemon {
  background-color: #f5d310; }

.bg--blue-stone {
  background-color: #006170; }

.bg--cape-cod {
  background-color: #3f4747; }

.bg--pink-lady {
  background-color: #fff1da; }

.bg--black {
  background-color: #000; }

.bg--white {
  background-color: #fff; }

.bg--tundora {
  background-color: #404040; }

.bg--mine-shaft {
  background-color: #303030; }

.bg--silver {
  background-color: #b9b9b9; }

.bg--cod-gray {
  background-color: #080808; }

.bg--dove-gray {
  background-color: #636363; }

@font-face {
  font-family: 'CeraPRO-Bold';
  src: url("../fonts/styleguide/TypeMates - CeraPRO-Bold.otf");
  /* IE9 Compat Modes */ }

@font-face {
  font-family: 'CeraPRO-Medium';
  src: url("../fonts/styleguide/TypeMates - CeraPRO-Medium.otf");
  /* IE9 Compat Modes */ }

@font-face {
  font-family: 'CeraPRO-Regular';
  src: url("../fonts/styleguide/TypeMates - CeraPRO-Regular.otf");
  /* IE9 Compat Modes */ }

@font-face {
  font-family: 'CeraPRO-Black';
  src: url("../fonts/styleguide/TypeMates - CeraPRO-Black.otf");
  /* IE9 Compat Modes */ }

@font-face {
  font-family: 'CeraPRO-Italic';
  src: url("../fonts/styleguide/TypeMates - Cera PRO Italic.otf");
  /* IE9 Compat Modes */ }

.button--primary {
  background-color: #eb5b42;
  color: #fff !important;
  display: inline-block;
  padding: 1rem 3rem;
  text-decoration: none;
  border: none; }
  .button--primary:hover {
    text-decoration: none;
    background-color: #f08370; }
  .button--primary:active {
    text-decoration: none;
    background-color: #e23618; }

.button--secondary {
  background-color: #006170;
  color: #fff !important;
  display: inline-block;
  padding: 1rem 3rem;
  text-decoration: none; }
  .button--secondary:hover {
    text-decoration: none;
    background-color: #008da3; }
  .button--secondary:active {
    text-decoration: none;
    background-color: #00353d; }

.button--white {
  background-color: #fff;
  color: #404040 !important;
  display: inline-block;
  padding: 1rem 3rem;
  text-decoration: none; }
  .button--white:hover {
    text-decoration: none;
    background-color: white; }
  .button--white:active {
    text-decoration: none;
    background-color: #e6e5e5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1; }

.heading01, .m-rich-text h1 {
  font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -o-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  font-family: 'CeraPRO-Black';
  letter-spacing: -1px;
  font-size: 7.0rem;
  line-height: 1.14;
  margin-bottom: 20px; }
  @media screen and (max-width: 768px) {
    .heading01, .m-rich-text h1 {
      font-size: 5rem;
      line-height: 6rem; } }

.heading02, .m-rich-text h2 {
  font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -o-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  font-family: 'CeraPRO-Black';
  font-size: 4.8rem;
  line-height: 1.25;
  letter-spacing: -0.5px; }
  @media screen and (max-width: 768px) {
    .heading02, .m-rich-text h2 {
      font-size: 4rem;
      line-height: 5rem; } }

.heading03, .m-rich-text h3 {
  font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -o-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  font-family: 'CeraPRO-Black';
  font-size: 2.8rem;
  line-height: 1.43;
  letter-spacing: -0.5px; }

.heading04, .m-rich-text h4, .m-combo .heading04 {
  font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -o-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  font-family: 'CeraPRO-Black';
  font-size: 2.0rem;
  line-height: 1.5;
  margin-top: -1px;
  margin-bottom: 21px; }

.is-divider {
  position: relative; }
  .is-divider::before {
    display: block;
    position: absolute;
    margin: -2rem auto 0;
    background-color: #006170;
    left: 0;
    right: 0;
    z-index: 1;
    content: "";
    width: 170px;
    height: 8px; }

::selection {
  background: #eb5b42;
  /* WebKit/Blink Browsers */
  color: #fff; }

::-moz-selection {
  background: #eb5b42;
  /* Gecko Browsers */
  color: #fff; }

.p--intro {
  font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -o-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  font-family: 'CeraPRO-Regular';
  font-size: 2.6rem;
  line-height: 1.54;
  letter-spacing: -0.1px; }

.p--small {
  font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -o-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  font-family: 'CeraPRO-Regular';
  font-size: 1.5rem;
  line-height: 1.33;
  letter-spacing: 0; }

.p--small-print {
  font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -o-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  font-family: 'CeraPRO-Regular';
  font-size: 1.1rem;
  line-height: 1.4;
  letter-spacing: 0; }

img {
  max-width: 100%;
  width: 100%;
  height: auto; }

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em; }

ul, ol {
  padding-left: 1em; }
  ul li, ol li {
    list-style: disc; }

ol li {
  list-style: decimal; }

blockquote {
  text-align: center;
  padding-top: 3.4rem; }
  blockquote .quote_text {
    font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -o-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    font-family: 'CeraPRO-Medium';
    position: relative;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 0.8em; }
  blockquote cite {
    margin-bottom: 3.4rem;
    display: block; }
  blockquote .quote_text:before,
  blockquote .quote_text:after {
    position: absolute;
    font-size: 30px; }
  blockquote .quote_text:before {
    content: open-quote;
    left: -0.5em;
    top: -0.5em; }
  blockquote .quote_text:after {
    content: close-quote;
    right: -0.5em;
    bottom: -0.5em; }

blockquote.alignLeft,
blockquote.alignRight {
  max-width: 40%;
  margin: 0 3.4rem; }
  blockquote.alignLeft .quote_text:after,
  blockquote.alignRight .quote_text:after {
    right: -0.1em;
    bottom: -0.8em; }
  blockquote.alignLeft p,
  blockquote.alignRight p {
    font-size: 30px; }

blockquote.alignCenter {
  max-width: 70%; }
  blockquote.alignCenter .quote_text:after {
    right: -0.1em;
    bottom: -0.8em; }
  blockquote.alignCenter p {
    font-size: 40px; }

.m-figure__img {
  display: block;
  margin-bottom: 1rem; }
  .full-width .m-figure__img {
    width: 100%; }

.m-figure__caption {
  font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -o-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  font-family: 'CeraPRO-Italic';
  font-size: 1.3rem;
  color: #b9b9b9;
  margin-top: 1rem; }
  .full-width .m-figure__caption {
    margin-left: auto;
    margin-right: auto;
    max-width: 122.4rem;
    box-sizing: border-box;
    padding: 0 1.7rem 0; }

.message-detail {
  white-space: nowrap;
  padding: 4px 0;
  font-size: 12px; }

.chat-bubble-main-container {
  display: inline-block;
  width: 100%; }

.chat-bubble-container {
  display: block;
  position: relative;
  margin: 10px;
  max-width: 400px;
  clear: both; }
  .chat-bubble-container.left {
    float: left;
    margin-left: 1rem;
    -webkit-transition: all 350ms;
    transition: all 350ms;
    -webkit-transform: -webkit-translate3d(-450px, 0, 0);
    transform: translate3d(-450px, 0, 0); }
    .animating .chat-bubble-container.left {
      -webkit-transition: all 350ms;
      transition: all 350ms;
      -webkit-transform: -webkit-translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
  .chat-bubble-container.right {
    float: right;
    margin-right: 1rem;
    -webkit-transition: all 350ms;
    transition: all 350ms;
    -webkit-transform: -webkit-translate3d(450px, 0, 0);
    transform: translate3d(450px, 0, 0); }
    .animating .chat-bubble-container.right {
      -webkit-transition: all 350ms;
      transition: all 350ms;
      -webkit-transform: -webkit-translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .chat-bubble-container.right .message-detail {
      text-align: right; }
  .chat-bubble-container.reset-margin-right {
    margin-right: 10px; }
  .chat-bubble-container.reset-margin-left {
    margin-left: 10px; }

.chat-bubble {
  border-radius: 5px;
  padding: 10px 18px; }
  .chat-bubble::before {
    content: '\00a0';
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -4.5px; }
  .chat-bubble.left {
    background-color: #fff; }
    .chat-bubble.left::before {
      background-color: #fff;
      left: 4px;
      -webkit-transform: -webkit-rotate(70deg) skew(5deg);
      transform: rotate(70deg) skew(5deg); }
  .chat-bubble.right {
    background-color: #f1f1f1;
    color: #aaa9ac; }
    .chat-bubble.right::before {
      background-color: #f1f1f1;
      right: 4px;
      -webkit-transform: -webkit-rotate(118deg) skew(-5deg);
      transform: rotate(118deg) skew(-5deg); }
  .chat-bubble .message {
    word-wrap: break-word; }
    .chat-bubble .message a:after {
      font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
      -moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
      -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
      -ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
      -o-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
      font-family: 'CeraPRO-Black';
      content: ">";
      margin-left: 1rem;
      top: 0;
      top: -6px;
      color: #006170; }
    .chat-bubble .message a,
    .chat-bubble .message a:visited {
      color: #303030;
      text-decoration: none;
      position: relative; }
    .chat-bubble .message a:hover {
      text-decoration: underline; }
      .chat-bubble .message a:hover:after {
        text-decoration: none !important; }

.chat-bubble--image {
  padding: 0;
  max-width: 250px; }
  .chat-bubble--image::before {
    display: none; }
  .chat-bubble--image img {
    border-radius: 5px;
    display: block; }

.chat-bubble--hhQ {
  background-color: bisque; }

message-composer {
  height: 50px;
  border-top: 1px solid #b2b2b2;
  background-color: #f8f8f8;
  position: absolute;
  bottom: 0;
  width: 100%; }
  message-composer :focus {
    outline: none; }
  message-composer form {
    display: flex; }
  message-composer textarea {
    margin: 5px;
    padding: 0;
    border: 0;
    flex-grow: 2;
    background-color: #f8f8f8;
    font-size: 14px;
    resize: none;
    word-wrap: break-word; }
  message-composer button {
    margin: 5px;
    border-radius: 5px;
    background-color: #158ffe;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer; }
    message-composer button[disabled] {
      opacity: .5;
      pointer-events: none; }

.simple-chat {
  display: inline-block;
  width: 100%;
  position: relative;
  font-size: 14px;
  font-family: "Helvetica Neue",Roboto,sans-serif;
  margin: 0 auto; }
  @media screen and (max-width: 640px) {
    .simple-chat {
      padding-bottom: 40px;
      font-size: 12px; } }

.message-wrapper {
  position: relative; }

.simple-chat-scroll {
  padding-bottom: 50px;
  min-height: 100%;
  transform-style: preserve-3d;
  overflow: hidden; }

.message-wrapper:last-child {
  margin-bottom: 10px; }

.simple-chat-container {
  overflow-y: scroll;
  height: 400px;
  padding-bottom: 50px; }
  .simple-chat-container.full-height {
    height: 100%; }

.simple-chat-typing {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 130px;
  margin: auto;
  z-index: 99999999; }
  @media screen and (max-width: 640px) {
    .simple-chat-typing {
      bottom: 11.5rem; } }

.typing-indicator {
  background-color: #fff;
  width: auto;
  border-radius: 50px;
  padding: 10px;
  margin-left: 1em;
  display: table;
  position: relative;
  animation: 2s bulge infinite ease-out; }
  .typing-indicator::before, .typing-indicator::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -2px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff; }
  .typing-indicator::after {
    height: 5px;
    width: 5px;
    left: -5px;
    bottom: -6px; }
  .typing-indicator span {
    height: 10px;
    width: 10px;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4; }
    .typing-indicator span:nth-of-type(1) {
      animation: 1s blink infinite 0.3333s; }
    .typing-indicator span:nth-of-type(2) {
      animation: 1s blink infinite 0.6666s; }
    .typing-indicator span:nth-of-type(3) {
      animation: 1s blink infinite 0.9999s; }

@keyframes blink {
  50% {
    opacity: 1; } }

@keyframes bulge {
  50% {
    transform: scale(1.05); } }

.chat-questions {
  text-align: center;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 150px; }
  @media screen and (max-width: 640px) {
    .chat-questions {
      bottom: 8rem; } }

.questions-wrapper {
  display: block; }

.chat-question {
  display: inline-block;
  margin-right: 0.6rem;
  background-color: #158ffe;
  color: #fff;
  right: 0;
  border-radius: 5px;
  padding: 10px 18px;
  text-decoration: none; }
  .chat-question::before {
    background-color: #158ffe;
    right: 4px;
    transform: rotate(118deg) skew(-5deg); }

html {
  font-size: 10px;
  height: 100%; }
  @media screen and (max-width: 640px) {
    html {
      font-size: 8px; } }

body {
  height: 100%;
  font-size: 2rem;
  line-height: 1.5;
  color: #404040;
  font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -o-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  font-family: 'CeraPRO-Regular'; }

.page-wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 10;
  background-color: #e8e6e5; }

.site-content {
  padding-top: 12rem;
  padding-bottom: 12rem; }
  @media screen and (max-width: 640px) {
    .site-content {
      padding-top: 2rem;
      padding-bottom: 6rem; } }

.container {
  display: table;
  clear: both;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box; }
  @media screen and (max-width: 640px) {
    .container {
      display: block; } }

.row-columns--1 {
  max-width: 122.4rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 0 5.35%; }
  @media screen and (max-width: 640px) {
    .row-columns--1 {
      padding: 0 1.6rem; } }
  .row-columns--1.spacer-none {
    margin-bottom: 0; }
  .row-columns--1.spacer-S {
    margin-bottom: 3rem; }
  .row-columns--1.spacer-m {
    margin-bottom: 4rem; }
  .row-columns--1.spacer-l {
    margin-bottom: 9rem; }
  .row-columns--1.spacer-xl {
    margin-bottom: 16rem; }
  .row-columns--1.full-width {
    max-width: none;
    padding: 0; }
  .row-columns--1.body-width {
    max-width: 122.4rem; }
  .row-columns--1.reading-width {
    margin-left: auto;
    margin-right: auto; }
    .row-columns--1.reading-width .container {
      padding: 0 16.6666666667%; }
      @media screen and (max-width: 640px) {
        .row-columns--1.reading-width .container {
          padding: 0 0%; } }
  .row-columns--1.v-align--middle .container > .col-container {
    vertical-align: middle; }
  .row-columns--1.v-align--bottom .container > .col-container {
    vertical-align: bottom; }
  .row-columns--1.no-padding > .container > .col-container {
    padding: 0; }
  .row-columns--1 .container > .col-container {
    width: 100%;
    display: table-cell;
    text-align: left;
    vertical-align: top;
    box-sizing: border-box; }
    @media screen and (min-width: 1280px) {
      .row-columns--1 .container > .col-container {
        padding: 0 1.7rem 0; } }
    @media screen and (max-width: 1280px) {
      .row-columns--1 .container > .col-container {
        padding: 0 1.2rem 0; } }
    @media screen and (max-width: 1024px) {
      .row-columns--1 .container > .col-container {
        padding: 0 1.2rem 0; } }
    @media screen and (max-width: 768px) {
      .row-columns--1 .container > .col-container {
        padding: 0 0.8rem 0; } }
    @media screen and (max-width: 640px) {
      .row-columns--1 .container > .col-container {
        padding: 0 0.6rem 0; } }
    .row-columns--1 .container > .col-container.span-2 {
      width: 16.6666666667%; }
    .row-columns--1 .container > .col-container.span-3 {
      width: 25%; }
    .row-columns--1 .container > .col-container.span-4 {
      width: 33.3333333333%; }
    .row-columns--1 .container > .col-container.span-5 {
      width: 41.6666666667%; }
    .row-columns--1 .container > .col-container.span-6 {
      width: 50%; }
    .row-columns--1 .container > .col-container.span-7 {
      width: 58.3333333333%; }
    .row-columns--1 .container > .col-container.span-8 {
      width: 66.6666666667%; }
    .row-columns--1 .container > .col-container.span-9 {
      width: 75%; }
    .row-columns--1 .container > .col-container.span-10 {
      width: 83.3333333333%; }
    .row-columns--1 .container > .col-container.span-11 {
      width: 91.6666666667%; }
    @media screen and (max-width: 640px) {
      .row-columns--1 .container > .col-container {
        width: auto !important;
        margin-bottom: 1.6rem;
        display: block; } }
  .row-columns--1 .container > .col-container.span-2 {
    padding-right: 83.3333333333%; }
  .row-columns--1 .container > .col-container.span-3 {
    padding-right: 75%; }
  .row-columns--1 .container > .col-container.span-4 {
    padding-right: 66.6666666667%; }
  .row-columns--1 .container > .col-container.span-5 {
    padding-right: 58.3333333333%; }
  .row-columns--1 .container > .col-container.span-6 {
    padding-right: 50%; }
  .row-columns--1 .container > .col-container.span-7 {
    padding-right: 41.6666666667%; }
  .row-columns--1 .container > .col-container.span-8 {
    padding-right: 33.3333333333%; }
  .row-columns--1 .container > .col-container.span-9 {
    padding-right: 25%; }
  .row-columns--1 .container > .col-container.span-10 {
    padding-right: 16.6666666667%; }
  .row-columns--1 .container > .col-container.span-11 {
    padding-right: 8.3333333333%; }

.row-columns--2 {
  max-width: 122.4rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 0 5.35%; }
  @media screen and (max-width: 640px) {
    .row-columns--2 {
      padding: 0 1.6rem; } }
  .row-columns--2.spacer-none {
    margin-bottom: 0; }
  .row-columns--2.spacer-S {
    margin-bottom: 3rem; }
  .row-columns--2.spacer-m {
    margin-bottom: 4rem; }
  .row-columns--2.spacer-l {
    margin-bottom: 9rem; }
  .row-columns--2.spacer-xl {
    margin-bottom: 16rem; }
  .row-columns--2.full-width {
    max-width: none;
    padding: 0; }
  .row-columns--2.body-width {
    max-width: 122.4rem; }
  .row-columns--2.reading-width {
    margin-left: auto;
    margin-right: auto; }
    .row-columns--2.reading-width .container {
      padding: 0 16.6666666667%; }
      @media screen and (max-width: 640px) {
        .row-columns--2.reading-width .container {
          padding: 0 0%; } }
  .row-columns--2.v-align--middle .container > .col-container {
    vertical-align: middle; }
  .row-columns--2.v-align--bottom .container > .col-container {
    vertical-align: bottom; }
  .row-columns--2.no-padding > .container > .col-container {
    padding: 0; }
  .row-columns--2 .container > .col-container {
    width: 50%;
    display: table-cell;
    text-align: left;
    vertical-align: top;
    box-sizing: border-box; }
    @media screen and (min-width: 1280px) {
      .row-columns--2 .container > .col-container {
        padding: 0 1.7rem 0; } }
    @media screen and (max-width: 1280px) {
      .row-columns--2 .container > .col-container {
        padding: 0 1.2rem 0; } }
    @media screen and (max-width: 1024px) {
      .row-columns--2 .container > .col-container {
        padding: 0 1.2rem 0; } }
    @media screen and (max-width: 768px) {
      .row-columns--2 .container > .col-container {
        padding: 0 0.8rem 0; } }
    @media screen and (max-width: 640px) {
      .row-columns--2 .container > .col-container {
        padding: 0 0.6rem 0; } }
    .row-columns--2 .container > .col-container.span-2 {
      width: 16.6666666667%; }
    .row-columns--2 .container > .col-container.span-3 {
      width: 25%; }
    .row-columns--2 .container > .col-container.span-4 {
      width: 33.3333333333%; }
    .row-columns--2 .container > .col-container.span-5 {
      width: 41.6666666667%; }
    .row-columns--2 .container > .col-container.span-6 {
      width: 50%; }
    .row-columns--2 .container > .col-container.span-7 {
      width: 58.3333333333%; }
    .row-columns--2 .container > .col-container.span-8 {
      width: 66.6666666667%; }
    .row-columns--2 .container > .col-container.span-9 {
      width: 75%; }
    .row-columns--2 .container > .col-container.span-10 {
      width: 83.3333333333%; }
    .row-columns--2 .container > .col-container.span-11 {
      width: 91.6666666667%; }
    @media screen and (max-width: 640px) {
      .row-columns--2 .container > .col-container {
        width: auto !important;
        margin-bottom: 1.6rem;
        display: block; } }

.row-columns--3 {
  max-width: 122.4rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 0 5.35%; }
  @media screen and (max-width: 640px) {
    .row-columns--3 {
      padding: 0 1.6rem; } }
  .row-columns--3.spacer-none {
    margin-bottom: 0; }
  .row-columns--3.spacer-S {
    margin-bottom: 3rem; }
  .row-columns--3.spacer-m {
    margin-bottom: 4rem; }
  .row-columns--3.spacer-l {
    margin-bottom: 9rem; }
  .row-columns--3.spacer-xl {
    margin-bottom: 16rem; }
  .row-columns--3.full-width {
    max-width: none;
    padding: 0; }
  .row-columns--3.body-width {
    max-width: 122.4rem; }
  .row-columns--3.reading-width {
    margin-left: auto;
    margin-right: auto; }
    .row-columns--3.reading-width .container {
      padding: 0 16.6666666667%; }
      @media screen and (max-width: 640px) {
        .row-columns--3.reading-width .container {
          padding: 0 0%; } }
  .row-columns--3.v-align--middle .container > .col-container {
    vertical-align: middle; }
  .row-columns--3.v-align--bottom .container > .col-container {
    vertical-align: bottom; }
  .row-columns--3.no-padding > .container > .col-container {
    padding: 0; }
  .row-columns--3 .container > .col-container {
    width: 33.3333333333%;
    display: table-cell;
    text-align: left;
    vertical-align: top;
    box-sizing: border-box; }
    @media screen and (min-width: 1280px) {
      .row-columns--3 .container > .col-container {
        padding: 0 1.7rem 0; } }
    @media screen and (max-width: 1280px) {
      .row-columns--3 .container > .col-container {
        padding: 0 1.2rem 0; } }
    @media screen and (max-width: 1024px) {
      .row-columns--3 .container > .col-container {
        padding: 0 1.2rem 0; } }
    @media screen and (max-width: 768px) {
      .row-columns--3 .container > .col-container {
        padding: 0 0.8rem 0; } }
    @media screen and (max-width: 640px) {
      .row-columns--3 .container > .col-container {
        padding: 0 0.6rem 0; } }
    .row-columns--3 .container > .col-container.span-2 {
      width: 16.6666666667%; }
    .row-columns--3 .container > .col-container.span-3 {
      width: 25%; }
    .row-columns--3 .container > .col-container.span-4 {
      width: 33.3333333333%; }
    .row-columns--3 .container > .col-container.span-5 {
      width: 41.6666666667%; }
    .row-columns--3 .container > .col-container.span-6 {
      width: 50%; }
    .row-columns--3 .container > .col-container.span-7 {
      width: 58.3333333333%; }
    .row-columns--3 .container > .col-container.span-8 {
      width: 66.6666666667%; }
    .row-columns--3 .container > .col-container.span-9 {
      width: 75%; }
    .row-columns--3 .container > .col-container.span-10 {
      width: 83.3333333333%; }
    .row-columns--3 .container > .col-container.span-11 {
      width: 91.6666666667%; }
    @media screen and (max-width: 640px) {
      .row-columns--3 .container > .col-container {
        width: auto !important;
        margin-bottom: 1.6rem;
        display: block; } }

.row-columns--4 {
  max-width: 122.4rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 0 5.35%; }
  @media screen and (max-width: 640px) {
    .row-columns--4 {
      padding: 0 1.6rem; } }
  .row-columns--4.spacer-none {
    margin-bottom: 0; }
  .row-columns--4.spacer-S {
    margin-bottom: 3rem; }
  .row-columns--4.spacer-m {
    margin-bottom: 4rem; }
  .row-columns--4.spacer-l {
    margin-bottom: 9rem; }
  .row-columns--4.spacer-xl {
    margin-bottom: 16rem; }
  .row-columns--4.full-width {
    max-width: none;
    padding: 0; }
  .row-columns--4.body-width {
    max-width: 122.4rem; }
  .row-columns--4.reading-width {
    margin-left: auto;
    margin-right: auto; }
    .row-columns--4.reading-width .container {
      padding: 0 16.6666666667%; }
      @media screen and (max-width: 640px) {
        .row-columns--4.reading-width .container {
          padding: 0 0%; } }
  .row-columns--4.v-align--middle .container > .col-container {
    vertical-align: middle; }
  .row-columns--4.v-align--bottom .container > .col-container {
    vertical-align: bottom; }
  .row-columns--4.no-padding > .container > .col-container {
    padding: 0; }
  .row-columns--4 .container > .col-container {
    width: 25%;
    display: table-cell;
    text-align: left;
    vertical-align: top;
    box-sizing: border-box; }
    @media screen and (min-width: 1280px) {
      .row-columns--4 .container > .col-container {
        padding: 0 1.7rem 0; } }
    @media screen and (max-width: 1280px) {
      .row-columns--4 .container > .col-container {
        padding: 0 1.2rem 0; } }
    @media screen and (max-width: 1024px) {
      .row-columns--4 .container > .col-container {
        padding: 0 1.2rem 0; } }
    @media screen and (max-width: 768px) {
      .row-columns--4 .container > .col-container {
        padding: 0 0.8rem 0; } }
    @media screen and (max-width: 640px) {
      .row-columns--4 .container > .col-container {
        padding: 0 0.6rem 0; } }
    .row-columns--4 .container > .col-container.span-2 {
      width: 16.6666666667%; }
    .row-columns--4 .container > .col-container.span-3 {
      width: 25%; }
    .row-columns--4 .container > .col-container.span-4 {
      width: 33.3333333333%; }
    .row-columns--4 .container > .col-container.span-5 {
      width: 41.6666666667%; }
    .row-columns--4 .container > .col-container.span-6 {
      width: 50%; }
    .row-columns--4 .container > .col-container.span-7 {
      width: 58.3333333333%; }
    .row-columns--4 .container > .col-container.span-8 {
      width: 66.6666666667%; }
    .row-columns--4 .container > .col-container.span-9 {
      width: 75%; }
    .row-columns--4 .container > .col-container.span-10 {
      width: 83.3333333333%; }
    .row-columns--4 .container > .col-container.span-11 {
      width: 91.6666666667%; }
    @media screen and (max-width: 640px) {
      .row-columns--4 .container > .col-container {
        width: auto !important;
        margin-bottom: 1.6rem;
        display: block; } }

.row-columns--6 {
  max-width: 122.4rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 0 5.35%; }
  @media screen and (max-width: 640px) {
    .row-columns--6 {
      padding: 0 1.6rem; } }
  .row-columns--6.spacer-none {
    margin-bottom: 0; }
  .row-columns--6.spacer-S {
    margin-bottom: 3rem; }
  .row-columns--6.spacer-m {
    margin-bottom: 4rem; }
  .row-columns--6.spacer-l {
    margin-bottom: 9rem; }
  .row-columns--6.spacer-xl {
    margin-bottom: 16rem; }
  .row-columns--6.full-width {
    max-width: none;
    padding: 0; }
  .row-columns--6.body-width {
    max-width: 122.4rem; }
  .row-columns--6.reading-width {
    margin-left: auto;
    margin-right: auto; }
    .row-columns--6.reading-width .container {
      padding: 0 16.6666666667%; }
      @media screen and (max-width: 640px) {
        .row-columns--6.reading-width .container {
          padding: 0 0%; } }
  .row-columns--6.v-align--middle .container > .col-container {
    vertical-align: middle; }
  .row-columns--6.v-align--bottom .container > .col-container {
    vertical-align: bottom; }
  .row-columns--6.no-padding > .container > .col-container {
    padding: 0; }
  .row-columns--6 .container > .col-container {
    width: 16.6666666667%;
    display: table-cell;
    text-align: left;
    vertical-align: top;
    box-sizing: border-box; }
    @media screen and (min-width: 1280px) {
      .row-columns--6 .container > .col-container {
        padding: 0 1.7rem 0; } }
    @media screen and (max-width: 1280px) {
      .row-columns--6 .container > .col-container {
        padding: 0 1.2rem 0; } }
    @media screen and (max-width: 1024px) {
      .row-columns--6 .container > .col-container {
        padding: 0 1.2rem 0; } }
    @media screen and (max-width: 768px) {
      .row-columns--6 .container > .col-container {
        padding: 0 0.8rem 0; } }
    @media screen and (max-width: 640px) {
      .row-columns--6 .container > .col-container {
        padding: 0 0.6rem 0; } }
    .row-columns--6 .container > .col-container.span-2 {
      width: 16.6666666667%; }
    .row-columns--6 .container > .col-container.span-3 {
      width: 25%; }
    .row-columns--6 .container > .col-container.span-4 {
      width: 33.3333333333%; }
    .row-columns--6 .container > .col-container.span-5 {
      width: 41.6666666667%; }
    .row-columns--6 .container > .col-container.span-6 {
      width: 50%; }
    .row-columns--6 .container > .col-container.span-7 {
      width: 58.3333333333%; }
    .row-columns--6 .container > .col-container.span-8 {
      width: 66.6666666667%; }
    .row-columns--6 .container > .col-container.span-9 {
      width: 75%; }
    .row-columns--6 .container > .col-container.span-10 {
      width: 83.3333333333%; }
    .row-columns--6 .container > .col-container.span-11 {
      width: 91.6666666667%; }
    @media screen and (max-width: 640px) {
      .row-columns--6 .container > .col-container {
        width: auto !important;
        margin-bottom: 1.6rem;
        display: block; } }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.site-header {
  padding-top: 4rem;
  height: 8rem;
  z-index: 100;
  width: 100%;
  background-color: white; }
  @media screen and (max-width: 640px) {
    .site-header {
      padding-top: 2rem;
      height: auto; } }

.site-footer {
  background-color: #303030;
  height: 100px;
  padding-top: 5rem;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  z-index: 50;
  width: 100%;
  color: #b9b9b9; }
  @media screen and (max-width: 640px) {
    .site-footer {
      padding-top: 2rem;
      height: 6rem; } }
  .site-footer a {
    font-size: 2rem;
    color: #636363;
    text-decoration: none;
    font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -o-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    font-family: 'CeraPRO-Bold'; }
    @media screen and (max-width: 768px) {
      .site-footer a {
        font-size: 1.6rem; } }
  .site-footer a:hover,
  .site-footer a:active {
    text-decoration: underline; }
  .site-footer .container > .col-container {
    text-align: center; }

.site-logo {
  display: inline-block; }
  @media screen and (max-width: 640px) {
    .site-logo {
      text-align: center;
      display: block;
      padding-bottom: 2rem; } }

.site-logo__footer {
  display: inline-block;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-indent: -999999px;
  background-image: url("../images/footer-logo.png"); }

.tout {
  margin: 0 0 3.4rem;
  background-color: #333333;
  position: relative; }
  .tout .tout_link {
    color: white; }
  .tout .tout_image {
    display: block;
    height: 600px;
    opacity: 0.8;
    background: no-repeat center center transparent;
    background-size: cover; }
  .tout .tout_image-caption {
    background: white;
    text-align: center; }
  .tout .tout_text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100px;
    text-align: center; }

.m-rich-text {
  max-width: 122.4rem;
  margin: 0 auto;
  position: relative; }
  .m-rich-text h1 {
    margin-bottom: 2rem; }
  .m-rich-text h2 {
    margin-bottom: 3rem; }
  .m-rich-text h3 {
    margin-bottom: 1.4rem; }
  .m-rich-text h4 {
    margin-bottom: 2rem; }
  .m-rich-text p {
    margin-bottom: 2rem; }
    .m-rich-text p + ul,
    .m-rich-text p + ol {
      margin: 1rem; }
  .m-rich-text p:last-child {
    margin-bottom: 0; }
  .m-rich-text em {
    font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -o-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    font-family: 'CeraPRO-Italic'; }
  .m-rich-text strong {
    font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -o-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    font-family: 'CeraPRO-Bold'; }
  .m-rich-text a:link {
    font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -o-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    font-family: 'CeraPRO-Bold';
    color: #eb5b42;
    text-decoration: none; }
  .m-rich-text a:visited {
    color: #eb5b42; }
  .m-rich-text a:hover {
    text-decoration: underline; }

.quote {
  margin: 0 auto;
  position: relative;
  margin-bottom: 3.4rem; }
  .full-width .col_container > .quote {
    margin: 0 3em; }

.image {
  position: relative;
  margin: 0; }
  .image .image_image {
    display: block; }
  .image .image_image-caption {
    background: white;
    text-align: center; }
  .full-width .col_container > .image {
    background-color: #333333; }
    .full-width .col_container > .image .image_image {
      display: block;
      height: 600px;
      background: no-repeat center center transparent;
      background-size: cover; }
  .body-width .col_container > .image .image_image-caption {
    position: static; }
  .body-width .col_container > .image .image_image {
    display: block;
    height: 600px;
    background: no-repeat center center transparent;
    background-size: cover; }

.related-link {
  margin: 0 0 3.4rem;
  background-color: #333333;
  position: relative; }
  .related-link .related-link_link {
    color: white; }
  .related-link .related-link_image {
    display: block;
    height: 600px;
    opacity: 0.8;
    background: no-repeat center center transparent;
    background-size: cover; }
  .related-link .related-link_image-caption {
    background: white;
    text-align: center; }
  .related-link .related-link_text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100px;
    text-align: center; }

.stat {
  margin: 0 0 3.4rem;
  border-right: 3px solid #f0f0f0;
  position: relative;
  text-align: center;
  box-sizing: border-box; }
  .stat .stat_stat {
    font-size: 2em; }
  .stat .stat_desc {
    display: block;
    height: 600px;
    opacity: 0.8;
    background: no-repeat center center transparent;
    background-size: cover; }
  .layout .col_container:last-child .stat {
    border-right: 0 none; }

.list {
  position: relative;
  text-align: center;
  margin-bottom: 3.4rem; }
  .list li {
    background-color: #f0f0f0;
    list-style: none;
    margin-bottom: 2px; }

.navigation-site {
  font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -o-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  font-family: 'CeraPRO-Bold';
  float: right;
  display: inline-block;
  vertical-align: top; }
  @media screen and (max-width: 640px) {
    .navigation-site {
      float: none;
      display: block;
      text-align: center; } }

.navigation-site__list {
  padding-left: 0; }

.navigation-site__item {
  display: inline-block;
  margin: 0 15px;
  color: #eb5b42;
  text-decoration: none;
  padding-bottom: 5px; }
  .navigation-site__item.active {
    border-bottom: 3px solid;
    color: #006170; }
  .navigation-site__item:last-of-type {
    margin-right: 0; }
    @media screen and (max-width: 640px) {
      .navigation-site__item:last-of-type {
        margin-right: 15px; } }
  .navigation-site__item:hover, .navigation-site__item:active {
    border-bottom: 3px solid;
    color: #080808; }

.navigation-blog {
  font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -o-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  font-family: 'CeraPRO-Black';
  display: inline-block;
  vertical-align: top;
  font-size: 2.8rem; }

.navigation-blog__list {
  padding-left: 0; }

.navigation-blog__item {
  font-size: 2.8rem;
  display: inline-block;
  margin: 0 15px;
  color: #eb5b42; }
  .navigation-blog__item.active {
    border-bottom: 3px solid;
    color: #006170; }
  .navigation-blog__item:first-child {
    margin-left: 0; }
  .navigation-blog__item:last-child {
    margin-right: 0; }
  .navigation-blog__item a {
    color: inherit;
    text-decoration: none; }
  .navigation-blog__item a:hover,
  .navigation-blog__item a:active {
    text-decoration: none;
    color: #006170; }

.hero-blog {
  padding-top: 16rem; }

.hero-blog__title {
  color: #006170; }

.m-hero-article-blog {
  position: relative; }

.m-hero-article-blog__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-size: cover; }

.m-hero-article-blog__table {
  padding-top: 4rem;
  max-width: 122.4rem;
  margin-bottom: 3rem;
  padding: 0 5.35%;
  margin: 0 auto; }
  .m-hero-article-blog__table .table {
    display: table;
    width: 100%;
    height: 700px; }
    .m-hero-article-blog__table .table .table-cell {
      position: relative;
      vertical-align: middle;
      display: table-cell; }
  @media screen and (max-width: 768px) {
    .m-hero-article-blog__table .table {
      display: table;
      width: 100%;
      height: 500px; }
      .m-hero-article-blog__table .table .table-cell {
        position: relative;
        vertical-align: middle;
        display: table-cell; } }
  @media screen and (max-width: 640px) {
    .m-hero-article-blog__table {
      padding: 0 1.6rem; } }
  .m-hero-article-blog__table .table-cell {
    box-sizing: border-box; }
    @media screen and (min-width: 1280px) {
      .m-hero-article-blog__table .table-cell {
        padding: 0 1.7rem 0; } }
    @media screen and (max-width: 1280px) {
      .m-hero-article-blog__table .table-cell {
        padding: 0 1.2rem 0; } }
    @media screen and (max-width: 1024px) {
      .m-hero-article-blog__table .table-cell {
        padding: 0 1.2rem 0; } }
    @media screen and (max-width: 768px) {
      .m-hero-article-blog__table .table-cell {
        padding: 0 0.8rem 0; } }
    @media screen and (max-width: 640px) {
      .m-hero-article-blog__table .table-cell {
        padding: 0 0.6rem 0; } }

.m-hero-article-blog__content {
  margin: 0 auto;
  position: relative;
  box-sizing: border-box; }

.m-hero-article-blog__title {
  padding-right: 33.3333333333%;
  position: relative;
  margin-bottom: 8rem; }
  @media screen and (max-width: 768px) {
    .m-hero-article-blog__title {
      padding-right: 0; } }

.m-hero-article-blog__category {
  font-size: 2.4rem;
  font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  -o-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
  font-family: 'CeraPRO-Black';
  color: #fff;
  margin-bottom: 1rem; }

.m-summary-blog {
  margin-bottom: 4rem;
  position: relative; }

.m-summary-blog__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-size: cover; }

.m-summary-blog__content {
  max-width: 122.4rem;
  width: 100%;
  position: relative; }

.m-summary-blog__title {
  color: #eb5b42;
  margin-bottom: 1rem; }

.m-summary-blog__category {
  font-size: 2rem;
  text-transform: uppercase; }

.summary--text-over-image {
  color: #fff; }
  .summary--text-over-image .table {
    display: table;
    width: 100%;
    height: 550px; }
    .summary--text-over-image .table .table-cell {
      position: relative;
      vertical-align: middle;
      display: table-cell; }
  @media screen and (max-width: 768px) {
    .summary--text-over-image .table {
      display: table;
      width: 100%;
      height: 340px; }
      .summary--text-over-image .table .table-cell {
        position: relative;
        vertical-align: middle;
        display: table-cell; } }
  .summary--text-over-image .m-summary-blog__title {
    color: #fff;
    position: relative;
    padding-right: 33.3333333333%;
    margin-bottom: 4rem; }
    @media screen and (max-width: 768px) {
      .summary--text-over-image .m-summary-blog__title {
        padding-right: 0; } }
  .summary--text-over-image .m-summary-blog__content {
    box-sizing: border-box;
    padding: 0 17.05%; }
  .summary--text-over-image .m-summary-blog__category {
    margin-bottom: 1rem;
    font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -moz-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -webkit-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -ms-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    -o-font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'ss01';
    font-family: 'CeraPRO-Medium';
    color: #fff; }

.m-combo .m-rich-text h4, .m-rich-text .m-combo h4, .m-combo .heading04 {
  margin-bottom: 0;
  margin-top: 2rem; }

.arrow {
  width: 30px;
  height: 20px;
  display: inline-block;
  text-indent: -999999px; }

.arrow--down {
  background-image: url("../images/icon-down-arrow-white.png"); }

.m-divider {
  text-align: center; }
  .m-divider span {
    display: inline-block;
    width: 170px;
    height: 8px; }

.m-divider--burnt-sienna {
  color: #eb5b42; }
  .m-divider--burnt-sienna span {
    background-color: #eb5b42; }

.m-divider--jungle-green {
  color: #2bae82; }
  .m-divider--jungle-green span {
    background-color: #2bae82; }

.m-divider--mercury {
  color: #e8e6e5; }
  .m-divider--mercury span {
    background-color: #e8e6e5; }

.m-divider--ripe-lemon {
  color: #f5d310; }
  .m-divider--ripe-lemon span {
    background-color: #f5d310; }

.m-divider--blue-stone {
  color: #006170; }
  .m-divider--blue-stone span {
    background-color: #006170; }

.m-divider--cape-cod {
  color: #3f4747; }
  .m-divider--cape-cod span {
    background-color: #3f4747; }

.m-divider--pink-lady {
  color: #fff1da; }
  .m-divider--pink-lady span {
    background-color: #fff1da; }

.m-divider--black {
  color: #000; }
  .m-divider--black span {
    background-color: #000; }

.m-divider--white {
  color: #fff; }
  .m-divider--white span {
    background-color: #fff; }

.m-divider--tundora {
  color: #404040; }
  .m-divider--tundora span {
    background-color: #404040; }

.m-divider--mine-shaft {
  color: #303030; }
  .m-divider--mine-shaft span {
    background-color: #303030; }

.m-divider--silver {
  color: #b9b9b9; }
  .m-divider--silver span {
    background-color: #b9b9b9; }

.m-divider--cod-gray {
  color: #080808; }
  .m-divider--cod-gray span {
    background-color: #080808; }

.m-divider--dove-gray {
  color: #636363; }
  .m-divider--dove-gray span {
    background-color: #636363; }

@font-face {
  font-family: 'CeraPRO-Bold';
  src: url("../fonts/styleguide/TypeMates - CeraPRO-Bold.otf");
  /* IE9 Compat Modes */ }

@font-face {
  font-family: 'CeraPRO-Medium';
  src: url("../fonts/styleguide/TypeMates - CeraPRO-Medium.otf");
  /* IE9 Compat Modes */ }

@font-face {
  font-family: 'CeraPRO-Regular';
  src: url("../fonts/styleguide/TypeMates - CeraPRO-Regular.otf");
  /* IE9 Compat Modes */ }

.bg--burnt-sienna, .sg__grid .grid:before {
  background-color: #eb5b42; }

.bg--jungle-green {
  background-color: #2bae82; }

.bg--mercury {
  background-color: #e8e6e5; }

.bg--ripe-lemon {
  background-color: #f5d310; }

.bg--blue-stone {
  background-color: #006170; }

.bg--cape-cod {
  background-color: #3f4747; }

.bg--pink-lady {
  background-color: #fff1da; }

.bg--black {
  background-color: #000; }

.bg--white {
  background-color: #fff; }

.bg--tundora {
  background-color: #404040; }

.bg--mine-shaft {
  background-color: #303030; }

.bg--silver {
  background-color: #b9b9b9; }

.bg--cod-gray {
  background-color: #080808; }

.bg--dove-gray {
  background-color: #636363; }

.bg--royal-mail {
  background-color: #dc3232; }

.bg--tourism-ireland {
  background-color: #627392; }

.bg--sony {
  background-color: #1f2024; }

.bg--volkswagen {
  background-color: #00beee; }

.bg--nokia {
  background-color: #feba2e; }

.bg--SPD {
  background-color: #058e46; }

.sg__colour-block {
  padding: 100% 0 0 0;
  width: 100%;
  border: 1px solid #e8e6e5; }
  .sg__colour-block:after {
    content: attr(title);
    background-color: #ffffff;
    text-align: center;
    display: block; }

.sg__menu {
  margin-top: 50px;
  margin-bottom: 30px; }

.sg__menu a {
  display: inline-block;
  font-family: 'CeraPRO-Regular';
  color: #404040;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 1.7rem;
  font-size: 1.4rem; }
  .sg__menu a.disabled {
    color: #e8e6e5; }
  .sg__menu a:hover {
    text-decoration: underline; }

.sg__page-number {
  font-size: 4.4rem;
  font-family: 'CeraPRO-Regular';
  color: #404040; }
  .sg__page-number:after {
    content: "";
    border-top: 3px solid #404040;
    width: 74px;
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle; }

.sg__heading01 {
  font-family: 'CeraPRO-Bold';
  font-size: 6.8rem; }

.sg__divider {
  font-family: 'CeraPRO-Bold';
  font-size: 2.6rem;
  text-align: center;
  position: relative;
  z-index: 0;
  margin-bottom: 0;
  color: #404040; }
  .sg__divider:before {
    content: "";
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    right: 0;
    border-bottom: 4px solid #e8e6e5; }

.sg__paragraph {
  font-family: 'CeraPRO-Regular'; }

.sg__label {
  font-family: 'CeraPRO-Medium';
  font-size: 1.9rem; }

.sg__grid .grid {
  box-sizing: border-box;
  float: left;
  width: 8.3333333333%;
  box-sizing: border-box;
  position: relative;
  height: 22px; }
  @media screen and (min-width: 1280px) {
    .sg__grid .grid {
      padding: 0 1.7rem 0; } }
  @media screen and (max-width: 1280px) {
    .sg__grid .grid {
      padding: 0 1.2rem 0; } }
  @media screen and (max-width: 1024px) {
    .sg__grid .grid {
      padding: 0 1.2rem 0; } }
  @media screen and (max-width: 768px) {
    .sg__grid .grid {
      padding: 0 0.8rem 0; } }
  @media screen and (max-width: 640px) {
    .sg__grid .grid {
      padding: 0 0.6rem 0; } }
  .sg__grid .grid:before {
    content: "";
    height: 22px;
    width: 100%;
    position: static;
    display: block; }

.sg__grid-overlay-button {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000; }
  .sg__grid-overlay-button .container {
    position: relative; }

.sg__grid-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  z-index: 9999; }
  .sg__grid-overlay .sg__grid,
  .sg__grid-overlay .row-columns--1,
  .sg__grid-overlay .container {
    height: 100%; }
  .sg__grid-overlay .grid {
    height: 100% !important; }
    .sg__grid-overlay .grid:before {
      height: 100% !important;
      opacity: 0.2; }

.sg__container-bar {
  height: 60px; }

#showGridOverlay {
  position: absolute;
  top: 60px;
  right: 0; }

.sg__baseline-grid {
  background: url("../images/baseline25.png") repeat 0 0 transparent; }

/*# sourceMappingURL=app.css.map */