<div class="row-columns--1 reading-width spacer-m">
    <div class="container">
        <div class="col-container">
            <div class="m-rich-text">
                    <h2 class="heading02">Why do we have brands?</h2>

                    <p class="p-intro">Traditionally products and services were sold by individuals on a one to one basis. Buyers would know sellers at a human level and understand their character, ideals and ability to deliver quality products and services.</p>
                    <p>It was a relationship built on trust.</p>
            </div>              
        </div>                
    </div>
</div>

<div class="row-columns--1 reading-width">
    <div class="container">
        <div class="col-container">
            <figure class="m-figure__img">
                <img src="images/victorian-seller.jpg" alt="Victorian Market Seller">
                <figcaption class="m-figure__caption">We used to know company owners personally</figcaption>
            </figure>
        </div>
    </div>
</div>


<div class="row-columns--1 reading-width spacer-l">
    <div class="container">
        <div class="col-container">
            <div class="m-rich-text">
            
                <p>The need for a brand arose from the requirement to allow a customer to know who they are buying from without ever meeting the owner of the company. </p>

                <blockquote>
                    <p class="quote_text">For all businesses, large or small, a constistent focus on building personal relationships with customers will be an essential ingredient for lasting success in decades to come.</p>
                    <cite> <a href="https://www.google.co.uk/search?q=the+human+bran&oq=the+human+bran&aqs=chrome..69i57j69i64l3j69i60.1888j0j7&sourceid=chrome&ie=UTF-8#q=the+human+brand">The Human Brand</a></cite>
                </blockquote>
                <p>During, and post industrial revolution, companies were unable to continue the two-way communication between buyer and seller. Consumers lost their voice, and the era of <a href="https://en.wikipedia.org/wiki/Mass_marketing" target="_blank">mass-marketing</a>  was born.</p>
                <p>Because of this, companies needed a strong identity. Starting out as a name and growing to include a logo, brand guidelines, tone of voice, print, tv advertisements and more.</p> 
                <p>This one-way communication from company to customer has been the standard for decades. </p>

                <p>Times have changed though.</p>
                    
                <p>The two-way communication between company and customer has opened up again. </p>
            </div>
        </div>
    </div>
</div>


<div class="row-columns--1 reading-width spacer-l">
    <div class="container">
        <div class="col-container">
            <div class="m-rich-text align-center">                
                <a href="#view1" class="button--primary">Start Chat</a>
            </div>
        </div>
    </div>
</div>

